<div class="home">
    <div class="home-header">
        <app-donate></app-donate>

        <p class="home-header-seller" [routerLink]="['/seller']">{{ 'home.login-seller' | translate }}</p>
        <mat-icon class="home-header-icon" aria-hidden="false" aria-label="Go to content">arrow_downward</mat-icon>
    </div>
    <div class="home-content">
        <div>
            <div class="row home-content-stats">
                <metric-card class="col-12 col-sm-6" [title]="'Count'" [value]="1"></metric-card>
                <metric-card class="col-12 col-sm-6" [title]="'Average speed'" [value]="2" [unit]="'tx/s'"></metric-card>
            </div>
        </div>
    </div>
</div>
